@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c1f;
  --foreground: #171717;
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-height: 60px;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
}
